.header__lang-link {
    margin:0;
    display: block;
    width: 30px;
    height: 28px;
    text-decoration: none;
    color: #FFFFFF;
    font-size:24px;
    line-height:1.16;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
}

.header__lang-link:hover {
    opacity: 0.8;
}


@media screen and (max-width:600px) {
    .header__lang-link {
        font-size:18px;
        line-height: 1.11;
    }
}