.photo-grid {
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px 92px;
    border: red solid 1px;
}
@media (max-width:1279px) {
    .photo-grid {
        padding: 0 48px 92px;
    }
}

@media (max-width:786px) {
    .photo-grid {
        padding: 0 24px 88px;
    }
}

@media (max-width:400px) {
    .photo-grid {
        padding: 0 16px 64px;
    }
} 



