.lead {
    box-sizing: border-box;
    width: 100%;
    margin:0 auto;
    padding:0 48px 92px;
    color: #FFFFFF;
}

@media (max-width:400px) {
    .lead {
        padding:0 0 64px;
    }
}
@media (max-width:1000px) {
    .lead {
        padding:0 0 88px;
    }
}
