.place__paragraph {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    width: 456px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    
}

.place__paragraph:last-child {
    margin: 0;
}