.lead__caption {
    padding: 0;
    margin:8px auto 0 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media (min-width:700px) and (max-width:1000px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media  (max-width:699px) {
    .lead__caption {
        margin-left: 16px;
    }
}
