.lead__figure {
    margin: 0 auto;
    padding: 0;
    min-width: 984px;
}

@media (max-width:768px) {
    .lead__figure {
        width: 100%;
    }
}

@media (max-width:1280px) {
    .lead__figure {
        max-width: 928px;
    }
}



